.footer {
  grid-area: footer;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1450px) {
  .grid-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 750px) {
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }
}
